flows.json
[{"id":"1c520c50.6a0d14","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7c087e71.18041","type":"ui_form","z":"1c520c50.6a0d14","name":"","label":"","group":"64d9c2a3.fc49cc","order":2,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":true,"rows":null},{"label":"radius_mean","value":"rm","type":"number","required":true,"rows":null},{"label":"texture_mean","value":"tm","type":"number","required":true,"rows":null},{"label":"perimeter_mean","value":"pm","type":"number","required":true,"rows":null},{"label":"area_mean","value":"am","type":"number","required":true,"rows":null},{"label":"smoothness_mean","value":"sm","type":"number","required":true,"rows":null},{"label":"compactness_mean","value":"cm","type":"number","required":true,"rows":null},{"label":"concavity_mean","value":"con","type":"number","required":true,"rows":null},{"label":"concave points_mean","value":"cop","type":"number","required":true,"rows":null},{"label":"symmetry_mean","value":"sym","type":"number","required":true,"rows":null},{"label":"fractal_dimension_mean","value":"fdm","type":"number","required":true,"rows":null},{"label":"radius_se","value":"rad","type":"number","required":true,"rows":null},{"label":"texture_se","value":"tex","type":"number","required":true,"rows":null},{"label":"perimeter_se","value":"peri","type":"number","required":true,"rows":null},{"label":"area_se","value":"as","type":"number","required":true,"rows":null},{"label":"smoothness_se","value":"smn","type":"number","required":true,"rows":null},{"label":"compactness_se","value":"co","type":"number","required":true,"rows":null},{"label":"concavity_se","value":"cs","type":"number","required":true,"rows":null},{"label":"concave points_se","value":"cps","type":"number","required":true,"rows":null},{"label":"symmetry_se","value":"ss","type":"number","required":true,"rows":null},{"label":"fractal_dimension_se","value":"fds","type":"number","required":true,"rows":null},{"label":"radius_worst","value":"rw","type":"number","required":true,"rows":null},{"label":"texture_worst","value":"tw","type":"number","required":true,"rows":null},{"label":"perimeter_worst","value":"pw","type":"number","required":true,"rows":null},{"label":"area_worst","value":"aw","type":"number","required":true,"rows":null},{"label":"smoothness_worst","value":"so","type":"number","required":true,"rows":null},{"label":"compactness_worst","value":"cpw","type":"number","required":true,"rows":null},{"label":"concavity_worst","value":"cw","type":"number","required":true,"rows":null},{"label":"concave points_worst","value":"cp","type":"number","required":true,"rows":null},{"label":"symmetry_worst","value":"sw","type":"number","required":true,"rows":null},{"label":"fractal_dimension_worst","value":"fdw","type":"number","required":true,"rows":null}],"formValue":{"id":"","rm":"","tm":"","pm":"","am":"","sm":"","cm":"","con":"","cop":"","sym":"","fdm":"","rad":"","tex":"","peri":"","as":"","smn":"","co":"","cs":"","cps":"","ss":"","fds":"","rw":"","tw":"","pw":"","aw":"","so":"","cpw":"","cw":"","cp":"","sw":"","fdw":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":420,"wires":[["8a603dd4.49998"]]},{"id":"1f818e87.050a91","type":"inject","z":"1c520c50.6a0d14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["8a603dd4.49998"]]},{"id":"8a603dd4.49998","type":"function","z":"1c520c50.6a0d14","name":"","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"rm\",msg.payload.rm)\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"cm\",msg.payload.cm)\nglobal.set(\"con\",msg.payload.con)\nglobal.set(\"cop\",msg.payload.cop)\nglobal.set(\"sym\",msg.payload.sym)\nglobal.set(\"fdm\",msg.payload.fdm)\nglobal.set(\"rad\",msg.payload.rad)\nglobal.set(\"tex\",msg.payload.tex)\nglobal.set(\"peri\",msg.payload.peri)\nglobal.set(\"as\",msg.payload.as)\nglobal.set(\"smn\",msg.payload.smn)\nglobal.set(\"co\",msg.payload.co)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"cps\",msg.payload.cps)\nglobal.set(\"ss\",msg.payload.ss)\nglobal.set(\"fds\",msg.payload.fds)\nglobal.set(\"rw\",msg.payload.rw)\nglobal.set(\"tw\",msg.payload.tw)\nglobal.set(\"pw\",msg.payload.pw)\nglobal.set(\"aw\",msg.payload.aw)\nglobal.set(\"so\",msg.payload.so)\nglobal.set(\"cpw\",msg.payload.cpw)\nglobal.set(\"cw\",msg.payload.cw)\nglobal.set(\"cp\",msg.payload.cp)\nglobal.set(\"sw\",msg.payload.sw)\nglobal.set(\"fdw\",msg.payload.fdw)\nvar apikey=\"NKLCXV-V-3bjiOzGtwWoKGqDFHG0EbB6VSBE39xtDbGP\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["268e530.0fd06ae"]]},{"id":"268e530.0fd06ae","type":"http request","z":"1c520c50.6a0d14","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":440,"wires":[["8332de16.f152f"]]},{"id":"8332de16.f152f","type":"function","z":"1c520c50.6a0d14","name":"","func":"var id = global.get('id')\nvar rm = global.get('rm')\nvar tm = global.get('tm')\nvar pm = global.get('pm')\nvar am = global.get('am')\nvar sm = global.get('sm')\nvar cm = global.get('cm')\nvar con = global.get('con')\nvar cop = global.get('cop')\nvar sym = global.get('sym')\nvar fdm = global.get('fdm')\nvar rad = global.get('rad')\nvar tex = global.get('tex')\nvar peri = global.get('peri')\nvar as = global.get('as')\nvar smn = global.get('smn')\nvar co = global.get('co')\nvar cs = global.get('cs')\nvar cps = global.get('cps')\nvar ss = global.get('ss')\nvar fds = global.get('fds')\nvar rw = global.get('rw')\nvar tw = global.get('tw')\nvar pw = global.get('pw')\nvar aw = global.get('aw')\nvar so = global.get('so')\nvar cpw = global.get('cpw')\nvar cw = global.get('cw')\nvar cp = global.get('cp')\nvar sw = global.get('sw')\nvar fdw = global.get('fdw')\nvar token=msg.payload.access_token\nvar instance_id=\"9be137d3-026f-475a-bc52-0cff4757c0d9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\", \"radius_mean\", \"texture_mean\", \"perimeter_mean\", \"area_mean\", \"smoothness_mean\", \"compactness_mean\", \"concavity_mean\", \"concave points_mean\", \"symmetry_mean\", \"fractal_dimension_mean\", \"radius_se\", \"texture_se\", \"perimeter_se\", \"area_se\", \"smoothness_se\", \"compactness_se\", \"concavity_se\", \"concave points_se\",\"symmetry_se\",\"fractal_dimension_se\",\"radius_worst\",\"texture_worst\",\"perimeter_worst\",\"area_worst\",\"smoothness_worst\",\"compactness_worst\",\"concavity_worst\",\"concave points_worst\",\"symmetry_worst\",\"fractal_dimension_worst\"],\"values\": [[id,rm,tm,pm,am,sm,cm,con,cop,sym,fdm,rad,tex,peri,as,smn,co,cs,cps,ss,fds,rw,tw,pw,aw,so,cpw,cw,cp,sw,fdw]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["bfc9316.41d4ad"]]},{"id":"bfc9316.41d4ad","type":"http request","z":"1c520c50.6a0d14","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/41f2e912-3ef2-481f-a65f-3b6cdbfe8c73/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":420,"wires":[["e008e43d.34b868"]]},{"id":"f57e68fb.6b44c8","type":"debug","z":"1c520c50.6a0d14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":300,"wires":[]},{"id":"e008e43d.34b868","type":"function","z":"1c520c50.6a0d14","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":220,"wires":[["4bdd4abe.0bbca4","f57e68fb.6b44c8"]]},{"id":"4bdd4abe.0bbca4","type":"ui_text","z":"1c520c50.6a0d14","group":"64d9c2a3.fc49cc","order":3,"width":0,"height":0,"name":"","label":"diagnosis","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":500,"wires":[]},{"id":"64d9c2a3.fc49cc","type":"ui_group","z":"","name":"Default","tab":"209b98b1.003868","order":1,"disp":true,"width":"6","collapse":false},{"id":"209b98b1.003868","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]